* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
img {
    height: 200px;
    border: #0e3305 solid 5px;
}

a {
    color: black;
    text-decoration-line: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #48f325;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    margin-right: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    width: fit-content;
}

.content {
    width: calc(100% - 265px);
    padding: 20px;
}

.content h2 {
    margin-top: 20px;
    color: #48f325;
}

.content .job {
    margin-bottom: 20px;
}

.content .job h3 {
    margin-bottom: 5px;
    color: #333;
}

.content .job p {
    margin: 5px 0;
    color: #666;
}

@media print {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    img {
        height: 200px;
        border: #0e3305 solid 5px;
    }
    
    a {
        color: black;
        text-decoration-line: none;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        padding: 20px;
    }
    
    .sidebar {
        height: 100vh;
        width: 250px;
        background-color: #48f325;
        padding: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: sticky;
        top: 0;
        margin-right: 15px;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .sidebar ul li {
        padding: 10px;
        width: fit-content;
    }
    
    .content {
        width: calc(100% - 265px);
        padding: 20px;
    }
    
    .content h2 {
        margin-top: 20px;
        color: #48f325;
    }
    
    .content .job {
        margin-bottom: 20px;
    }
    
    .content .job h3 {
        margin-bottom: 5px;
        color: #333;
    }
    
    .content .job p {
        margin: 5px 0;
        color: #666;
    }}